/* Header  */

* {
    font-family: "Inter", sans-serif;
    color: var(--color-212121);
}

:root {
    --color-ffffff: #FFFFFF;
    --color-212121: #212121;
    --color-FF8A15: #FF8A15;
    --color-FF8A14: #FF8A14;
    --color-8B8B8B: #8B8B8B;
    --color-E4E7ED: #E4E7ED;
    --color-D9D9D9: #D9D9D9;
    --color-2E2E2E: #2E2E2E;
    --color-575757: #575757;
    --color-18C005: #18C005;
    --color-000000: #000000;
    --color-FAFAFA: #FAFAFA;
    --color-B1B1B1: #B1B1B1;
}

main {
    padding-bottom: 89px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1520px;
    }
}

img {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    color: var(--color-ffffff);
}

a:hover, button:hover {
    opacity: 0.9;
}

input:focus,
select:focus {
    box-shadow: unset !important;
}

.btn-FF8A15 {
    background: var(--color-FF8A15);
    color: var(--color-ffffff);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.booking_btn {
    border-radius: 26px;
    padding: 10px 32px;
    width: max-content;
    margin: auto;
}

header .navbar {
    background: var(--color-ffffff);
    padding: 24px;
}

header .navbar-nav.menu {
    align-items: center;
    gap: 32px;
}

header .navbar .navbar-brand {
    width: 263px;
    height: auto;
    padding: 0;
    flex-shrink: 0;
}

header .navbar .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    color: var(--color-212121);
    font-size: 18px;
    padding: 0;
    font-weight: 500;
}

header .navbar .navbar-nav .nav-link:hover ,
header .navbar .navbar-nav .dropdown-item:hover {
    color: var(--color-FF8A15);
}

header .navbar .navbar-nav .nav-link:hover svg path {
    fill: var(--color-FF8A15) ;
}

header .navbar .navbar-nav .nav-link:hover::after {
    filter: brightness(0) saturate(100%) invert(55%) sepia(94%) saturate(750%) hue-rotate(10deg);
}

.dropdown-toggle::after {
    border: none;
    content: url('../images/chevron-up.svg');
    width: 14px;
    margin-left: 9px;
}


@media screen and (max-width: 1200px) {
    header .navbar {
        padding: 12px;
    }

    .navbar-nav.menu {
        padding: 40px;
    }

    .navbar-nav.menu .dropdown-menu{
        border: none;
    }
}

.banner {
    position: relative;
    height: 736px;
    background-image: url('../images/songda1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-ffffff);
}

.banner-content {
    position: relative;
    z-index: 1;
    padding: 0 20px;
}
.banner-title {
    max-width: 800px;
    font-size: 52px;
    margin:0 auto 34px;
    font-family: "Kumbh Sans", sans-serif ;
    color: var(--color-ffffff);
    text-shadow: 3px 3px #0000004D;
}
.banner-title span {
    color: var(--color-FF8A15);
    font-family: "Kumbh Sans", sans-serif ;
}
.banner-description {
    max-width: 1182px;
    font-size: 18px;
    margin:0 auto 36px;
    color: var(--color-ffffff);
}


.booking-form {
    padding: 60px 52px;
    background: var(--color-ffffff);
    max-width: 1317px;
    margin: -100px auto 120px;
    border-radius: 24px;
    position: relative;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
}

.booking-form  {
    gap: 28px;
}

.booking-form .form-group {
    width: 100%;
    margin-bottom: 0;
}

.booking-form .form-group:first-child {
    max-width: 382px;
    flex-shrink: 0;
}

.booking-form .form-group label {
    font-size: 14px;
    margin-bottom: 8px;
    color: var(--color-212121);
    font-weight: 600;
}

.booking-form .form-group .form-control {
    border-radius: 16px;
    padding: 16px;
    height: 56px;
    background: var(--color-ffffff);
}

.booking-form .search_btn {
    border-radius: 16px;
    font-size: 20px;
    padding: 16px 52px;
    max-width: 191px;
    flex-shrink: 0;
    height: 56px;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
}


@media screen and (max-width: 1200px) {

    .banner-title {
        font-size: 42px;
    }

    .banner-description {
        font-size: 14px;
    }

    .booking-form {
        flex-wrap: wrap;
        margin: 20px auto 80px;
    }

    .booking-form .form-group:first-child {
        width: 100%;
        max-width: 100%;
    }

    .booking-form .search_btn {
        width: 100%;
        max-width: 100%;
    }
}

.special-tour-section {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 120px
    ;
}
.title-orange {
    position: relative;
    text-align: center;
    margin-bottom: 12px;
    max-width: 493px;
    margin: auto;
}
.title-orange::before,
.title-orange::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: var(--color-FF8A15);
}
.title-orange::before {
    left: 0;
}
.title-orange::after {
    right: 0;
}

.title-orange span {
    margin: auto;
    color: var(--color-FF8A15);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: var(--color-ffffff);
    padding: 0 15px;
}

.description {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.box-special-tour {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 23px;
    margin-top: 40px;
    height: 600px;
}

.box-special-tour .small_grid {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 23px;
}

.box-special-tour .small_grid .box_tour {
    height: 288px;
}

.box-special-tour .box_tour {
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}

.box-special-tour .box_tour img {
    object-fit: cover;
}

.box-special-tour .box_tour .tag_location {
    padding: 9px 27px;
    color: var(--color-ffffff);
    border-radius: 12px;
    position: absolute;
    top: 35px;
    left: 35px;
    font-size: 24px;
}

.box-special-tour .box_tour .title_tour{
    position: absolute;
    bottom: 18px;
    left: 30px;
    right: 30px;
}

.box-special-tour .box_tour .title_tour p {
    font-size: 32px;
    color: var(--color-ffffff);
    font-weight: 600;
}

.box-special-tour .box_tour .title_tour span {
    font-size: 16px;
    color: var(--color-ffffff);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.star-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.star-rating .fa-star {
    font-size: 30px !important;
}

.star-rating .fa-star.checked {
    color: var(--color-FF8A15) !important;
}


@media screen and (max-width:1200px) {
    .box-special-tour {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        height: 100%;
    }

    .box-special-tour .box_tour {
        height: 288px;
    }

    .description {
        font-size: 32px;
        text-align: center;
    }



}

@media screen and (max-width: 768px) {
    .title-orange::before,
    .title-orange::after {
        width: 30%;
    }
    .title-orange span {
        font-size: 16px;
    }

    .box-special-tour .box_tour .title_tour p {
        font-size: 24px;
    }

    .box-special-tour .box_tour .title_tour span {
        font-size: 14px;
    }

    .star-rating .fa-star {
        font-size: 15px !important;
    }

    .box-special-tour .box_tour .tag_location {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .title-orange::before,
    .title-orange::after {
        width: 25%;
    }
    .title-orange span {
        font-size: 14px;
        padding: 0 10px;
    }
}

.about_us {
    margin-bottom: 120px;
}

.about_us .box_about {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    margin-top: 40px;
}


.about_us .box_about .icon{
    width: 100px;
    height: 100px;
    margin-bottom: 36px;
}

.about_us .box_about .title {
    font-size: 20px;
    color: var(--color-212121);
    margin-bottom: 20px;
    font-weight: 600;
}

.about_us .box_about .text {
    font-size: 16px;
    color: var(--color-212121);
    text-align: center;
}

@media screen and (max-width:1200px) { 
    .about_us .box_about {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.title-orange-left {
    margin: 0;
}

.title-orange-left::after {
    content: none;
}

.block_list_tour {
    margin-bottom: 120px;
}

.block_list_tour .title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 12px;
}

.block_list_tour .see-more {
    height: 44px;
    padding: 10px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 26px;
}

.list_card {
    margin-top: 57px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
}

.list_card .card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.list_card .card-image {
    width: 100%;
    height: 278px;
    object-fit: cover;
}

.list_card .card-content {
    padding: 11px 20px;
}

.list_card .card-title {
    font-size: 20px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list_card .card-subtitle {
    color: var(--color-8B8B8B);
    font-size: 16px;
    margin: 6px 0 26px;
}

.list_card .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.list_card .card-rating {
    font-weight: 600;
    padding: 7px 4px;
    font-size: 14px;
    color: var(--color-FF8A14);
    background: var(--color-E4E7ED);
    border-radius: 6px;
    margin-right: 8px;
}

.list_card .card-review {
    font-size: 16px;
}

.list_card .card-button {
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}


@media screen and (max-width:1200px) { 

    .block_list_tour .see-more {
        margin: 20px auto 0;
    }

    .block_list_tour .title {
        font-size: 32px;
        text-align: center;
    }

    .list_card {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 14px
    }

    .list_card .card-title {
        font-size: 16px;
    }

    .list_card .card-review {
        font-size: 12px;
    }

    .list_card .card-button {
        width: 32px;
        height: 32px;
    }
}
 

.feedback_section {
    max-width: 1283px;
    margin: auto;
}

.detail_feedback {
    background: var(--color-ffffff);
    border-radius: 24px;
    padding: 23px;
    box-shadow: 0px 0px 10px 0px #0000001F;
}


.detail_feedback .reviewer {
    margin-bottom: 28px;
    gap: 10px;
}

.detail_feedback .reviewer .avatar {
    border-radius: 50%;
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail_feedback .reviewer .reviewer_name p {
    font-size: 18px;
    font-weight: 700;

}

.feedback_section .swiper-slide {
    padding: 18px 9px;
}


.detail_feedback .reviewer .reviewer_name span {
    font-size: 14px;
    color: var(--color-8B8B8B);
}

.slide_rating {
    margin-top: 40px;
    padding: 34px;
}

.swiper-pagination {
    position: relative;
    margin-top: 34px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background:var(--color-D9D9D9) ;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--color-FF8A14);
}


.blogs_and_news .description {
    text-align: left;
}

.blogs_and_news .blog_list {
    margin-top: 40px;
}

.blogs_and_news .blog_top {
    position: relative;
}

.blogs_and_news .blog_top img {
    min-height: 400px;
    max-height: 400px;
}

.blogs_and_news .blog_top .content {
    position: absolute;
    bottom: 27px;
    left: 33px;
    right: 33px;
}

.blogs_and_news .blog_top .content p {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-ffffff);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blogs_and_news .blog_top .content span {
    font-size: 14px;
    color: var(--color-ffffff);
}

.blogs_and_news .blog_list_bottom {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 25px;
    margin-top: 24px;
}

.blogs_and_news .blog_list_bottom .blog_bottom .content{
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
}

.blogs_and_news .blog_list_bottom .blog_bottom img {
    max-height: 156px;
    min-height: 156px;
}

.blogs_and_news .news_list {
    margin-top: 40px;
}

.blogs_and_news .news_thumbnail {
    gap: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-E4E7ED);
    margin-top: 14px;
}

.blogs_and_news .news_thumbnail img{
    max-width: 233px;
    height: auto;
    max-height: 132px;
    width: 100%;
    flex-shrink: 0;
}

.blogs_and_news .news_thumbnail .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 132px;
}

.blogs_and_news .news_thumbnail .content p {
    font-size: 18px;
    color: var(--color-212121);
    line-height: 20px;
    margin-bottom: 4px;
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blogs_and_news .news_thumbnail .content span {
    color: var(--color-8B8B8B);
    font-size: 14px;
    line-height: 16px;
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blogs_and_news .news_thumbnail .date {
    gap: 4px;
    font-size: 14px;
    color: var(--color-8B8B8B);
}


@media screen and (max-width:1200px) {  
    .blogs_and_news .blog_list_bottom {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-bottom: 120px;
    }

    .blogs_and_news .news_thumbnail {
        flex-direction: column;
    }

    .blogs_and_news .news_thumbnail img {
        max-width: unset ;
        max-height: unset;
    }

    .title-orange-left::after {
        content: '';
    }
}

.footer {
    background: var(--color-2E2E2E);
    color: white;
    padding: 40px;
}

.footer-logo-section {
    flex: 0 0 40%;
    padding-right: 20px;
    max-width:  531px;
}

.footer-logo {
    max-width: 420px;
    margin-bottom: 14px;
}

.footer-description {
    color: var(--color-ffffff);
    margin-bottom: 15px;
}

.footer-address {
    color: var(--color-ffffff);
}

.footer-address span {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-ffffff);
}

.footer-links {
    display: flex;
    flex: 1;
    justify-content: space-around;
    min-width: 50%;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h4 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-ffffff);
}

.footer-column a  {
    color: var(--color-ffffff);
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #ff8c00;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    color: #cccccc;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff8c00;
}

.consultation-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.consultation-input {
    padding: 15px 18px;
    margin-bottom: 20px;
    background: var(--color-575757);
    color: var(--color-ffffff);
    border-radius: 16px;
    border: none;
    height: 48px;
}

.consultation-form button {
    padding: 14px;
    background-color: var(--color-FF8A15);
    color: var(--color-ffffff);
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 16px;
}


@media screen and (max-width: 1200px) {

    .footer-logo-section {
        padding: 0;
    }
    .footer-logo-section, .footer-links {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-links {
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer-column {
        flex: 1 1 200px;
    }
}


/* Tour page  */
.tour_page .banner{
    height: unset;
    padding: 20px;
}

.tour_page .booking-form {
    margin: 70px auto;
    padding: 20px 51px;
    max-width: 1366px;
}

.tour_page  .booking-form .form-group {
    text-align: left;
    min-width: 160px;
}

.tour_page .booking-form .form-group:first-child {
    max-width: 318px;
}

.booking-form .form-group select.form-control,
.tour_page .list_touring .form-group select.form-control,
.detail_tour_page .price_date .form-group select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/chevron-up.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.tour_page .list_touring {
    padding: 85px 0;
}

.tour_page .list_touring .form-group {
    max-width: 261px;
}

.tour_page .list_touring .form-group .form-control {
    border-radius: 16px;
    padding: 16px;
    height: 56px;
}

.discover_tour_list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 36px;
    gap: 24px;
}

.discover_tour_list .discover_tour_thumbnail {
    max-width: 362px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 12px;
}

.discover_tour_list .tour_text p {
    font-size: 18px;
    font-weight: 600;
}

.discover_tour_list .tour_text span {
    font-size: 14px;
    flex-shrink: 0;
    gap: 2px;
    font-weight: 400;
} 

.discover_tour_list .tour_text span .rating_percent {
    width: 16px;
    height: 16px;
}

.discover_tour_list .tour_text .date {
    font-size: 14px;
    gap: 4px;
    margin-top: 8px;
}

.discover_tour_list .tour_text .date svg path {
    fill: var(--color-000000);
}

.discover_tour_list .swiper-pagination {
    position: absolute;
    bottom: 9px;
    margin-top: 0;
}

.discover_tour_list .swiper-button-next, 
.discover_tour_list .swiper-button-prev {
    background: var(--color-ffffff);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discover_tour_list .swiper-button-next:after, 
.discover_tour_list .swiper-button-prev:after {
    content: url('../images/arrow-right.svg');
    width: 12px;
    height: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.discover_tour_list .swiper-button-prev:after {
    transform: rotate(180deg);
}

.discover_tour_list .swiper-button-prev.swiper-button-disabled,
.discover_tour_list .swiper-button-next.swiper-button-disabled {
    display: none;
}

.discover_tour_list .tour_text .price {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-FF8A15);
    margin-top: 12px;
    gap: 10px;
}

.discover_tour_list .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: var(--color-B1B1B1);
    opacity: 1;
}

.discover_tour_list .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--color-FF8A15);
}

.discover_tour_list .tour_text .sale {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.discover_tour_list .tour_text .sale .sale_price {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-8B8B8B);
    text-decoration: line-through;
}


.discover_tour_list .tour_text .sale .sale_percent {
   background: var(--color-18C005);
   color: var(--color-ffffff);
   border-radius: 4px;
   padding: 4px 2px;
}


@media screen and (max-width: 1200px) {
    .tour_page .booking-form .form-group:first-child {
        max-width: unset;
    }

    .discover_tour_list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.detail_tour_page .detail_tour{
    padding: 60px 0 40px;
    border-bottom: 2px solid var(--color-E4E7ED);
    margin-bottom: 40px;
}

.detail_tour_page h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
}


.detail_tour_thumbail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 60px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column-start: 3;
}

.div3 {
    grid-column-start: 4;
}

.div4 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div5 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.detail_tour_thumbail .tour_thumbail {
    height: 288px;
    border-radius: 24px;
    overflow: hidden;
}

.detail_tour_thumbail .tour_thumbail img{
    object-fit: cover;
}
        
.detail_tour_thumbail .tour_thumbail.div1 {
    height: 600px;
}

.detail_tour_content h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 28px;
}

@media screen and (max-width:1200px) {
    
    .detail_tour_thumbail {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .div1 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
    }

    .div2 {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .div3 {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .div4 {
        grid-row-start: 4;
        grid-column-start: 1;
    }

    .div5 {
        grid-row-start: 4;
        grid-column-start: 2;
    }

}

@media screen and (max-width:992px) {

    .detail_tour_thumbail {
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .detail_tour_thumbail .tour_thumbail {
        height: auto;
    }

    .detail_tour_thumbail .tour_thumbail.div1 {
        height: 288px;
    }

    .discover_tour_list .tour_text p,
    .discover_tour_list .tour_text .price{
        font-size: 16px;
    }
}

.detail_tour_page .content .text {
    font-size: 16px;
}

.detail_tour_page .content {
    padding-right: 128px;
}

.detail_tour_page .price_date {
    box-shadow: 0px 0px 28px 0px #0000001F;
    flex-shrink: 0;
    padding: 32px;
    border-radius: 24px;
    max-width: 491px;
}

.detail_tour_page .price_date h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.detail_tour_page .detail_tour_content {
    display: flex;
    align-items: start;
}

.detail_tour_page .detail_tour_content .box_form_parent {
    border: 2px solid var(--color-E4E7ED);
    border-radius: 16px;
    margin-bottom: 20px;
}

.detail_tour_page .detail_tour_content .box_form_parent > div:not(:last-child) {
    border-bottom: 2px solid var(--color-E4E7ED);
}

.detail_tour_page .detail_tour_content .box_form > div:first-child {
    border-right: 2px solid var(--color-E4E7ED);
}

.detail_tour_page .price_date .form-group {
    margin: 0;
    padding: 12px 24px;
}

.detail_tour_page .price_date .form-group label {
    margin-bottom: 6px;
    font-size: 14px;
    color: var(--color-212121);
}

.detail_tour_page .price_date .form-group input,
.detail_tour_page .price_date .form-group select {
    border: none;
    padding: 0;
    font-weight: 600;
    color: var(--color-212121);
    height: 20px;
    line-height: 20px;
}

.detail_tour_page .price_date .form-group input {
    background: var(--color-ffffff);
}


.detail_tour_page .detail_tour_content .detail_tour_page .detail_tour_content .form-group {
    padding: 0;
}

.detail_tour_page .detail_tour_content .form-group label {
    font-size: 14px;
    color: #666;
    display: block;
}

.detail_tour_page .detail_tour_content .form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.detail_tour_page .detail_tour_content .form-check:last-child {
    border-bottom: none;
}

.detail_tour_page .detail_tour_content label.form-check-label {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-212121);
}

.detail_tour_page .detail_tour_content .form-check-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    position: relative;
    cursor: pointer;
}

.detail_tour_page .detail_tour_content .form-check-input:after {
    border: 2px solid var(--color-E4E7ED);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.detail_tour_page .detail_tour_content .form-check-input:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-FF8A15);
}

.detail_tour_page .detail_tour_content .upgrade-name {
    font-weight: bold;
    margin-bottom: 4px;
}

.detail_tour_page .detail_tour_content .upgrade-price {
    color: var(--color-575757);
    font-size: 14px;
}

.detail_tour_page .detail_tour_content .btn-block {
    padding: 22px;
    width: 100%;
    border-radius: 16px;
}

.detail_tour_content .options {
    margin-top: 60px;
}

.detail_tour_content .option_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border: 1px solid var(--color-E4E7ED);
    border-radius: 24px;
    gap: 17px;
    padding: 23px 27px;
}

.detail_tour_content .option_grid div {
   gap: 8px ;
   font-size: 20px;
   font-weight: 600;
   color: var(--color-000000);
}

.detail_tour_content .option_grid div svg {
    width: 22px;
    height: 22px;
}

.detail_tour_page .feedback_section h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.detail_tour_page .feedback_section .grid_feedback { 
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
}

.detail_tour_page .feedback_section .grid_feedback .content {
    padding: 0;
}

.detail_tour_page .feedback_section .see_more_review {
    padding: 16px 28px;
    font-size: 20px;
    color: var(--color-212121);
    border: 1px solid var(--color-E4E7ED);
    border-radius: 16px;
    background: var(--color-FAFAFA);
    margin-top: 28px;
    font-weight: 600;
}

.location {
    margin-top: 40px;
    width: 100%;
}

.location h2 {
    margin-bottom: 16px;
}

.location p {
    margin-bottom: 40px;
}

.location iframe {
    border-radius: 24px;
    width: 100%;
    max-height: 440px;

}

@media screen and (max-width: 992px) {
    .detail_tour_page .content {
        font-size: 16px;
        padding-right: 0;
    }

    .detail_tour_page .detail_tour_content {
        flex-direction: column;
    }

    .detail_tour_page .feedback_section .grid_feedback {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .detail_tour_content .option_grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-bottom: 40px;
    }
}


.contact_page {
    padding: 60px 0 90px;
}

.contact_page h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 75px;
}

textarea {
    resize: none;
    min-height: 159px;
}

.contact_page .form-group {
    margin-bottom: 24px;
}

.contact_page label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.contact_page .form-group .form-control {
    height: 56px;
    border-radius: 16px !important;
    font-size: 16px;
    border-radius: 2px solid var(--color-E4E7ED);
    background: var(--color-ffffff);
}

.contact_page input::placeholder {
    color: var(--color-8B8B8B);
}

.contact_page iframe {
    height: 316px;
    border-radius: 24px;
    margin-top: 19px;
}

.contact_page .location {
    font-size: 20px;
    color: var(--color-000000);
    margin-top: 0;
}

.contact_page .location a {
    margin-bottom: 16px;
    display: block;
    text-align: left;
}

.contact_page .location img {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    margin-right: 12px;
}

.contact_page button {
    padding: 16px 65px;
    border-radius: 16px;
    font-size: 20px;
}

@media screen and (max-width: 992px) { 
    .contact_page button {
        width: 100%;
    }
}


.news_page {
    margin-top: 60px;
}

.news_page h2 {
    font-size: 40px;
    font-weight: 600;
}

.news_page .form-control-search {
    border-radius: 16px !important;
    height: 56px;
    padding: 20px 20px;
    font-size: 16px;
    border: 2px solid var(--color-E4E7ED);
}

.news_page .search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-000000);
    font-size: 20px;
}

.news_page .search-form {
    position: relative;
    max-width: 491px;
    width: 100%;
}

.news_page .search-form .form-control:focus {
    z-index: 0;
}

.news_page .list_news {
    margin-top: 48px;   
}

.news_page .list_news .image {
    max-height: 280px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.news_page .list_news .image img {
    object-fit: cover;
}

.news_page .list_news .news_detail {
    margin-bottom: 23px;
}

.news_page .list_news .news_text {
    padding-bottom: 20px;
}

.news_page .list_news .news_text p {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-212121);
    margin-bottom: 10px;
}

.news_page .list_news .news_text span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 16px;
    color: var(--color-8B8B8B);
    margin-bottom: 10px;
}

.news_page .list_news .news_text .date {
    font-size: 16px;
    color: var(--color-8B8B8B);
    gap: 7px;
}

.pagination {
    justify-content: center;
}

.pagination ul {
    gap: 6px;
}

.pagination ul .page-item .page-link {
    font-size: 16px;
    color: var(--color-212121);
    font-weight: 600;
    border: 1px solid var(--color-E4E7ED);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 6px;
}

 .pagination ul .page-item.active .page-link {
    color: var(--color-ffffff);
    background: var(--color-FF8A15);
    border: 1px solid var(--color-FF8A15);
}

.detail_news_page {
    padding: 60px 0;
}

.detail_news_page h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.detail_news_page .date {
    gap: 6px;
    font-size: 16px;
    color: var(--color-8B8B8B);
    padding-bottom: 20px;
    border-bottom: 3px solid var(--color-FF8A15);
    width: max-content;
    margin-bottom: 30px;
}

.detail_news_page .date span {
    color: var(--color-8B8B8B);
}

.detail_news_page .content {
    font-size: 16px;
    border-bottom: 2px solid var(--color-E4E7ED);
    padding-bottom: 40px;
} 

.detail_news_page .content p {
    margin-bottom: 32px;
}

.detail_news_page .content span {
    font-size: 14px;
    font-style: italic;
    color: var(--color-8B8B8B);
}

.detail_news_page .content img {
    margin: 60px auto 0;
    max-width: 1005px;
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.detail_news_page .more_news {
    margin-top: 60px;
}

.detail_news_page .more_news h2 {
    margin-bottom: 40px;
}

.detail_news_page .more_news .news_detail {
    margin-bottom: 24px;
}

.detail_news_page .more_news .news_detail .image {
    max-height: 221px;
    margin-bottom: 12px;
    border-radius: 16px;
    overflow: hidden;
}

.detail_news_page .more_news .news_detail .news_text p {
    font-size: 18px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.about_us_page .banner {
    height: 665px;
    align-items: start;
    background-image: url(../images/about_banner.png);
    margin-bottom: 60px;
}

.about_us_page .banner .banner-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    max-width: 804px;
    margin: unset;
    text-align: left;
}


@media screen and (max-width: 992px) {

    .about_us_page .banner .banner-title {
        font-size: 32px;
        max-width: unset;
        text-align: center;
    }

    .detail_news_page .more_news h2,
    .detail_news_page h2 {
        font-size: 30px;
    }
}

.about_us_page .about_us_text .image{
    max-height: 499px;
    height: 100%;
    border-radius: 24px;
}

.about_us_page .about_us_text .text h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-212121);
    margin-bottom: 37px;
}

.about_us_page .about_us_text .text p {
    font-size: 16px;
    margin-bottom: 20px ;
}

.about_us_page .about_us_text .exp {
    gap: 60px;
}

.about_us_page .about_us_text .exp h3 {
    color: var(--color-FF8A15);
    font-size: 72px;
    font-weight: 500;
    line-height: 70px;
}

.about_us_page .about_us_text .exp p {
    color: var(--color-212121);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.about_us_page .our_team {
    margin: 80px auto;
}

.about_us_page .our_team h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.about_us_page .our_team .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_us_page .our_team .member .image {
    border-radius: 16px;
    height: 419px;
    overflow: hidden;
    position: relative;
}

.about_us_page .our_team .member .info {
    text-align: center;
}

.about_us_page .our_team .member .social {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px 11px;
    display: none;
    flex-direction: column;
    gap: 8px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: linear-gradient(180deg, rgba(214, 214, 214, 0.5) 0%, rgba(192, 192, 192, 0.5) 100%);
    backdrop-filter: blur(9px);
    z-index: 2;
}

.about_us_page .our_team .member:hover .social {
    display: flex;
}

.about_us_page .our_team .member:hover .bg-cover {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: #0000004D;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.about_us_page .our_team .member p {
    font-size: 20px;
    font-weight: 600;
    margin:24px 0 8px;
    text-align: center;
}

.about_us_page .our_team .member span {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--color-8B8B8B);
}

.detail_tour_page .feedback_section,
.about_us_page .feedback_section {
    max-width: unset;
}

.about_us_page .feedback_section h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}

.about_us_page .feedback_section .grid_feedback {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
}

.about_us_page .feedback_section .grid_feedback .content {
    padding: 0;
}

.about_us_page .feedback_section .detail_feedback {
    box-shadow: unset;
    border: 1px solid var(--color-E4E7ED);
}

@media screen and (max-width: 992px) {

    .about_us_page .about_us_text .text h2,
    .about_us_page .our_team h2,
    .about_us_page .feedback_section h2{
        font-size: 32px;
        text-align: center;
    }

    .about_us_page .content {
        font-size: 16px;
        padding-right: 0;
    }

    .about_us_page .detail_tour_content {
        flex-direction: column;
    }

    .about_us_page .feedback_section .grid_feedback {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .about_us_page .option_grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-bottom: 40px;
    }

    .footer {
        padding: 15px;
    }

}


.blogs_and_news a:hover p,
.box-special-tour .box_tour a:hover .title_tour p ,
.blogs_and_news a:hover .blog_top .content p,
.blogs_and_news a:hover .news_thumbnail .content p,
.list_card a:hover .card-title,
.news_page .list_news a:hover p ,
.contact_page .location a:hover div,
.list_touring a:hover .tour_text p,
.detail_news_page .more_news a:hover .news_text p{
    color: var(--color-FF8A15)
}